body {
    background: url('cloud_background.png') no-repeat center center;
}

.demo-card-wide.mdl-card {
	width: 90%;
	display: block;
	margin: 5em auto;
}

.mdl-list__item { padding: 0 0 .5em 1em;}

.demo-card-wide > .mdl-card__title {
	color: #fff;
    background: #ed0909;
}

.demo-card-wide > .mdl-card__menu {
	color: #fff;
    background: #ff0000;
}

.boton-examinar {
	margin-left: 2em;
}

.text-escoge {
	margin-top: 1em;
	margin-left: 1em;
	font-family:Roboto;
}

.botton-subir {	margin-top: 1em;}

.demo-card-wide.mdl-card {
    width: 90%;
    display: block;
    margin: 5em auto;
}

.demo-card-wide > .mdl-card__title {
    color: #fff;
    background: #ed0909;
}

.mdl-card__title-text {
    font-weight:bold;
}

.demo-card-wide > .mdl-card__menu { color: #fff;}

.boton-examinar { margin-left: 40px; }

.text-escoge {
    margin-top: 20px;
    margin-left: 20px;
    font-family:Roboto;
}

.botton-subir { margin-top: 10px;}

.mdl-layout__header { background: #ffffff;}

.demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type { padding-right: 0;}

.etiqueta-editar-perfil {
    margin-right: 1em;
    width: 6em;
    text-align: right;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link { display: inline-block;}

.mdl-layout__drawer-button {color:#ff0000;}

.mdl-navigation__link i { padding-right: .5em; }

#Editar_Perfil_Genero label.mdl-radio { margin-right: .5em; }

.alinear { text-align: center; }

.icono-web {
    width: 2.5em;
    margin-right: .5em;
}

.logo-web {
    height: 5.0em;
    width: 12.5em;
    margin-right: .5em;
}

.slide-web {
    height: 30.0em;
    width: 80.5em;
}
.listado-archivos { width: 100%;}

.id-oculto { display: none; }

.icono-listado-archvios {
    height: 3em;
    display: block;
    margin: auto;
}

.titulo { display: inline; }

.button-folder
{
    background:url('ic_folder_black.png') no-repeat center center;
    text-align:end;
}